# Dependencias y módulos instalados
node_modules/

# Directorios de salida de compilación y despliegue
.next/
out/
build/
dist/

# Directorios de cobertura de pruebas
coverage/

# Archivos de lock (opcional)
package-lock.json
yarn.lock

# Otros archivos o carpetas generados automáticamente
*.min.js
